
    @model GoJS.Models.Nodo

@using (Html.BeginForm("loadNode", "Home"))
{
<div class="editor-label"
            @Html.LabelFor(model=> model.IdNodo)
    ></div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.IdNodo)
    </div>
   <div class="editor-label"
            @Html.LabelFor(model=> model.Descripcion)
    ></div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Descripcion)
    </div>
}
